# Ignore mesh-related output files anywhere
*.msh
*.mesh
*.gf
# Ignore all builds anywhere in the tree
**/build/
**/build*/
# Ignore dotfiles
.*
!.gitignore
!.gitattributes
!.github/
# Ignore common local artifacts
.DS_Store
*.swp
*.log
*.bak
