# Ignore mesh-related output files anywhere
*.msh
*.mesh
*.gf
*.med
./geometry/mesh/
# Ignore all builds anywhere in the tree
**/build/
**/build*/
# Ignore simulation results
sim_results/
# Ignore dotfiles
.*
!.gitignore
!.gitattributes
!.github/
# Ignore common local artifacts
.DS_Store
*.swp
*.log
*.bak
# Misc I have in this folder
COMSOL_res
plots
*.pyc
mount/
geometry/createGeometryFromCAD/out