schema_version: 1
geometry_id: SR3XENONnT

# Where the mesh is/should be produced
# FIXME Unused at the moment 
mesh:
  path: geometry.msh 


# Processing device TODO 
preset: none                       # serial | threads | mpi | gpu | mpi+gpu | mpi+threads

compute:
  mpi:
    enabled: false                    # true => use Par* classes, MPI_Init, etc.
    ranks: auto                       # integer or "auto"
    hostfile: null                    # optional path
    repartition_after_refine: true

  # All options here work and tested 
  threads:
    enabled: false                     # OpenMP 
    num: -1                           # number of threads (always applies to meshing)
    affinity: none                 # "compact" | "scatter" | "none"

  device: 
    type: none                        # "none" | "cuda" | "hip" | "occa" | "cpu"
    id: auto                          # int / auto 
    per_rank: 1                       # GPUs per MPI rank 

# End processing device
debug:
  debug: false
  quick_mesh: false

# solver configuration
solver:
  axisymmetric: true                  # Maybe this should be a string but 2D and 3D are done by default
  order: 3
  # TODO 
  assembly_mode: partial              # full | partial | matrix_free
  solver: pcg                         # pcg | gmres | fmgres | direct
  precond: boomerang                  # boomerang | jacobi | ilu | none | petsc_gamg
  # End TODO 
  atol: 1e-12
  rtol: 0.0
  maxiter: 100000
  printlevel: 1
  mesh_save_path: "simulation_mesh.msh"
  # TODO Change to only use naming convention not each explicitly 
  V_solution_path: "solution_V.gf"
  Emag_solution_path: "solution_Emag.gf"



materials:
  GXeRegion:
    attr_id: 1
    epsilon_r: 1.0
  PTFE_Group:
    attr_id: 2
    epsilon_r: 2.1
  LXeRegion:
    attr_id: 3
    epsilon_r: 1.95

boundaries:
  BC_Bell:
    bdr_id: 4
    type: dirichlet
    value: 10.0
  BC_Gate:
    bdr_id: 5
    type: dirichlet
    value: 5.0
  BC_Anode:
    bdr_id: 6
    type: dirichlet
    value: 0.0
  BC_Cathode:
    bdr_id: 7
    type: dirichlet
    value: -5.0
  BC_TopScreen:
    bdr_id: 8
    type: dirichlet
    value: 0.0
  BC_BottomScreen:
    bdr_id: 9
    type: dirichlet
    value: 0.0
  BC_CopperRing:
    bdr_id: 10
    type: dirichlet
    value: 0.0
  BC_PMTs:
    bdr_id: 11
    type: dirichlet
    value: 0.0
  BC_FieldCageGuard_Ring_1:
    bdr_id: 83
    type: dirichlet
    value: 1.7910447761194028
  BC_FieldCageGuard_Ring_10:
    bdr_id: 92
    type: dirichlet
    value: 5.820895522388064
  BC_FieldCageGuard_Ring_11:
    bdr_id: 93
    type: dirichlet
    value: 6.268656716417915
  BC_FieldCageGuard_Ring_12:
    bdr_id: 94
    type: dirichlet
    value: 6.71641791044776
  BC_FieldCageGuard_Ring_13:
    bdr_id: 95
    type: dirichlet
    value: 7.164179104477611
  BC_FieldCageGuard_Ring_14:
    bdr_id: 96
    type: dirichlet
    value: 7.611940298507463
  BC_FieldCageGuard_Ring_15:
    bdr_id: 97
    type: dirichlet
    value: 8.059701492537314
  BC_FieldCageGuard_Ring_16:
    bdr_id: 98
    type: dirichlet
    value: 8.507462686567166
  BC_FieldCageGuard_Ring_17:
    bdr_id: 99
    type: dirichlet
    value: 8.955223880597018
  BC_FieldCageGuard_Ring_18:
    bdr_id: 100
    type: dirichlet
    value: 9.40298507462687
  BC_FieldCageGuard_Ring_19:
    bdr_id: 101
    type: dirichlet
    value: 9.85074626865672
  BC_FieldCageGuard_Ring_2:
    bdr_id: 84
    type: dirichlet
    value: 2.238805970149258
  BC_FieldCageGuard_Ring_20:
    bdr_id: 102
    type: dirichlet
    value: 10.298507462686565
  BC_FieldCageGuard_Ring_21:
    bdr_id: 103
    type: dirichlet
    value: 10.746268656716417
  BC_FieldCageGuard_Ring_22:
    bdr_id: 104
    type: dirichlet
    value: 11.194029850746269
  BC_FieldCageGuard_Ring_23:
    bdr_id: 105
    type: dirichlet
    value: 11.64179104477612
  BC_FieldCageGuard_Ring_24:
    bdr_id: 106
    type: dirichlet
    value: 12.089552238805972
  BC_FieldCageGuard_Ring_25:
    bdr_id: 107
    type: dirichlet
    value: 12.537313432835823
  BC_FieldCageGuard_Ring_26:
    bdr_id: 108
    type: dirichlet
    value: 12.985074626865675
  BC_FieldCageGuard_Ring_27:
    bdr_id: 109
    type: dirichlet
    value: 13.432835820895527
  BC_FieldCageGuard_Ring_28:
    bdr_id: 110
    type: dirichlet
    value: 13.880597014925378
  BC_FieldCageGuard_Ring_29:
    bdr_id: 111
    type: dirichlet
    value: 14.328358208955223
  BC_FieldCageGuard_Ring_3:
    bdr_id: 85
    type: dirichlet
    value: 2.6865671641791025
  BC_FieldCageGuard_Ring_30:
    bdr_id: 112
    type: dirichlet
    value: 14.776119402985074
  BC_FieldCageGuard_Ring_31:
    bdr_id: 113
    type: dirichlet
    value: 15.223880597014926
  BC_FieldCageGuard_Ring_32:
    bdr_id: 114
    type: dirichlet
    value: 15.671641791044777
  BC_FieldCageGuard_Ring_33:
    bdr_id: 115
    type: dirichlet
    value: 16.11940298507463
  BC_FieldCageGuard_Ring_34:
    bdr_id: 116
    type: dirichlet
    value: 16.56716417910448
  BC_FieldCageGuard_Ring_35:
    bdr_id: 117
    type: dirichlet
    value: 17.014925373134332
  BC_FieldCageGuard_Ring_36:
    bdr_id: 118
    type: dirichlet
    value: 17.462686567164184
  BC_FieldCageGuard_Ring_37:
    bdr_id: 119
    type: dirichlet
    value: 17.91044776119403
  BC_FieldCageGuard_Ring_38:
    bdr_id: 120
    type: dirichlet
    value: 18.35820895522388
  BC_FieldCageGuard_Ring_39:
    bdr_id: 121
    type: dirichlet
    value: 18.80597014925373
  BC_FieldCageGuard_Ring_4:
    bdr_id: 86
    type: dirichlet
    value: 3.134328358208954
  BC_FieldCageGuard_Ring_40:
    bdr_id: 122
    type: dirichlet
    value: 19.253731343283583
  BC_FieldCageGuard_Ring_41:
    bdr_id: 123
    type: dirichlet
    value: 19.701492537313435
  BC_FieldCageGuard_Ring_42:
    bdr_id: 124
    type: dirichlet
    value: 20.149253731343286
  BC_FieldCageGuard_Ring_43:
    bdr_id: 125
    type: dirichlet
    value: 20.597014925373138
  BC_FieldCageGuard_Ring_44:
    bdr_id: 126
    type: dirichlet
    value: 21.04477611940299
  BC_FieldCageGuard_Ring_45:
    bdr_id: 127
    type: dirichlet
    value: 21.49253731343284
  BC_FieldCageGuard_Ring_46:
    bdr_id: 128
    type: dirichlet
    value: 21.940298507462686
  BC_FieldCageGuard_Ring_47:
    bdr_id: 129
    type: dirichlet
    value: 22.388059701492537
  BC_FieldCageGuard_Ring_48:
    bdr_id: 130
    type: dirichlet
    value: 22.83582089552239
  BC_FieldCageGuard_Ring_49:
    bdr_id: 131
    type: dirichlet
    value: 23.28358208955224
  BC_FieldCageGuard_Ring_5:
    bdr_id: 87
    type: dirichlet
    value: 3.5820895522388057
  BC_FieldCageGuard_Ring_50:
    bdr_id: 132
    type: dirichlet
    value: 23.731343283582092
  BC_FieldCageGuard_Ring_51:
    bdr_id: 133
    type: dirichlet
    value: 24.179104477611943
  BC_FieldCageGuard_Ring_52:
    bdr_id: 134
    type: dirichlet
    value: 24.626865671641795
  BC_FieldCageGuard_Ring_53:
    bdr_id: 135
    type: dirichlet
    value: 25.074626865671647
  BC_FieldCageGuard_Ring_54:
    bdr_id: 136
    type: dirichlet
    value: 25.52238805970149
  BC_FieldCageGuard_Ring_55:
    bdr_id: 137
    type: dirichlet
    value: 25.970149253731343
  BC_FieldCageGuard_Ring_56:
    bdr_id: 138
    type: dirichlet
    value: 26.417910447761194
  BC_FieldCageGuard_Ring_57:
    bdr_id: 139
    type: dirichlet
    value: 26.865671641791046
  BC_FieldCageGuard_Ring_58:
    bdr_id: 140
    type: dirichlet
    value: 27.313432835820898
  BC_FieldCageGuard_Ring_59:
    bdr_id: 141
    type: dirichlet
    value: 27.76119402985075
  BC_FieldCageGuard_Ring_6:
    bdr_id: 88
    type: dirichlet
    value: 4.029850746268657
  BC_FieldCageGuard_Ring_60:
    bdr_id: 142
    type: dirichlet
    value: 28.2089552238806
  BC_FieldCageGuard_Ring_61:
    bdr_id: 143
    type: dirichlet
    value: 28.656716417910452
  BC_FieldCageGuard_Ring_62:
    bdr_id: 144
    type: dirichlet
    value: 29.104477611940304
  BC_FieldCageGuard_Ring_63:
    bdr_id: 145
    type: dirichlet
    value: 29.55223880597015
  BC_FieldCageGuard_Ring_64:
    bdr_id: 146
    type: dirichlet
    value: 30.0
  BC_FieldCageGuard_Ring_7:
    bdr_id: 89
    type: dirichlet
    value: 4.477611940298509
  BC_FieldCageGuard_Ring_8:
    bdr_id: 90
    type: dirichlet
    value: 4.92537313432836
  BC_FieldCageGuard_Ring_9:
    bdr_id: 91
    type: dirichlet
    value: 5.373134328358212
  BC_FieldCage_Ring_1:
    bdr_id: 12
    type: dirichlet
    value: -30.0
  BC_FieldCage_Ring_10:
    bdr_id: 21
    type: dirichlet
    value: -25.970149253731343
  BC_FieldCage_Ring_11:
    bdr_id: 22
    type: dirichlet
    value: -25.52238805970149
  BC_FieldCage_Ring_12:
    bdr_id: 23
    type: dirichlet
    value: -25.07462686567164
  BC_FieldCage_Ring_13:
    bdr_id: 24
    type: dirichlet
    value: -24.62686567164179
  BC_FieldCage_Ring_14:
    bdr_id: 25
    type: dirichlet
    value: -24.17910447761194
  BC_FieldCage_Ring_15:
    bdr_id: 26
    type: dirichlet
    value: -23.73134328358209
  BC_FieldCage_Ring_16:
    bdr_id: 27
    type: dirichlet
    value: -23.28358208955224
  BC_FieldCage_Ring_17:
    bdr_id: 28
    type: dirichlet
    value: -22.83582089552239
  BC_FieldCage_Ring_18:
    bdr_id: 29
    type: dirichlet
    value: -22.388059701492537
  BC_FieldCage_Ring_19:
    bdr_id: 30
    type: dirichlet
    value: -21.940298507462686
  BC_FieldCage_Ring_2:
    bdr_id: 13
    type: dirichlet
    value: -29.55223880597015
  BC_FieldCage_Ring_20:
    bdr_id: 31
    type: dirichlet
    value: -21.492537313432834
  BC_FieldCage_Ring_21:
    bdr_id: 32
    type: dirichlet
    value: -21.044776119402982
  BC_FieldCage_Ring_22:
    bdr_id: 33
    type: dirichlet
    value: -20.597014925373134
  BC_FieldCage_Ring_23:
    bdr_id: 34
    type: dirichlet
    value: -20.149253731343283
  BC_FieldCage_Ring_24:
    bdr_id: 35
    type: dirichlet
    value: -19.701492537313435
  BC_FieldCage_Ring_25:
    bdr_id: 36
    type: dirichlet
    value: -19.253731343283583
  BC_FieldCage_Ring_26:
    bdr_id: 37
    type: dirichlet
    value: -18.80597014925373
  BC_FieldCage_Ring_27:
    bdr_id: 38
    type: dirichlet
    value: -18.35820895522388
  BC_FieldCage_Ring_28:
    bdr_id: 39
    type: dirichlet
    value: -17.91044776119403
  BC_FieldCage_Ring_29:
    bdr_id: 40
    type: dirichlet
    value: -17.462686567164177
  BC_FieldCage_Ring_3:
    bdr_id: 14
    type: dirichlet
    value: -29.104477611940297
  BC_FieldCage_Ring_30:
    bdr_id: 41
    type: dirichlet
    value: -17.01492537313433
  BC_FieldCage_Ring_31:
    bdr_id: 42
    type: dirichlet
    value: -16.567164179104477
  BC_FieldCage_Ring_32:
    bdr_id: 43
    type: dirichlet
    value: -16.11940298507463
  BC_FieldCage_Ring_33:
    bdr_id: 44
    type: dirichlet
    value: -15.671641791044776
  BC_FieldCage_Ring_34:
    bdr_id: 45
    type: dirichlet
    value: -15.223880597014924
  BC_FieldCage_Ring_35:
    bdr_id: 46
    type: dirichlet
    value: -14.776119402985074
  BC_FieldCage_Ring_36:
    bdr_id: 47
    type: dirichlet
    value: -14.328358208955223
  BC_FieldCage_Ring_37:
    bdr_id: 48
    type: dirichlet
    value: -13.880597014925371
  BC_FieldCage_Ring_38:
    bdr_id: 49
    type: dirichlet
    value: -13.432835820895523
  BC_FieldCage_Ring_39:
    bdr_id: 50
    type: dirichlet
    value: -12.985074626865671
  BC_FieldCage_Ring_4:
    bdr_id: 15
    type: dirichlet
    value: -28.65671641791045
  BC_FieldCage_Ring_40:
    bdr_id: 51
    type: dirichlet
    value: -12.53731343283582
  BC_FieldCage_Ring_41:
    bdr_id: 52
    type: dirichlet
    value: -12.089552238805968
  BC_FieldCage_Ring_42:
    bdr_id: 53
    type: dirichlet
    value: -11.64179104477612
  BC_FieldCage_Ring_43:
    bdr_id: 54
    type: dirichlet
    value: -11.194029850746269
  BC_FieldCage_Ring_44:
    bdr_id: 55
    type: dirichlet
    value: -10.746268656716417
  BC_FieldCage_Ring_45:
    bdr_id: 56
    type: dirichlet
    value: -10.298507462686565
  BC_FieldCage_Ring_46:
    bdr_id: 57
    type: dirichlet
    value: -9.850746268656717
  BC_FieldCage_Ring_47:
    bdr_id: 58
    type: dirichlet
    value: -9.402985074626866
  BC_FieldCage_Ring_48:
    bdr_id: 59
    type: dirichlet
    value: -8.955223880597014
  BC_FieldCage_Ring_49:
    bdr_id: 60
    type: dirichlet
    value: -8.507462686567163
  BC_FieldCage_Ring_5:
    bdr_id: 16
    type: dirichlet
    value: -28.208955223880597
  BC_FieldCage_Ring_50:
    bdr_id: 61
    type: dirichlet
    value: -8.059701492537311
  BC_FieldCage_Ring_51:
    bdr_id: 62
    type: dirichlet
    value: -7.611940298507463
  BC_FieldCage_Ring_52:
    bdr_id: 63
    type: dirichlet
    value: -7.164179104477611
  BC_FieldCage_Ring_53:
    bdr_id: 64
    type: dirichlet
    value: -6.71641791044776
  BC_FieldCage_Ring_54:
    bdr_id: 65
    type: dirichlet
    value: -6.268656716417908
  BC_FieldCage_Ring_55:
    bdr_id: 66
    type: dirichlet
    value: -5.82089552238806
  BC_FieldCage_Ring_56:
    bdr_id: 67
    type: dirichlet
    value: -5.3731343283582085
  BC_FieldCage_Ring_57:
    bdr_id: 68
    type: dirichlet
    value: -4.925373134328357
  BC_FieldCage_Ring_58:
    bdr_id: 69
    type: dirichlet
    value: -4.477611940298505
  BC_FieldCage_Ring_59:
    bdr_id: 70
    type: dirichlet
    value: -4.029850746268657
  BC_FieldCage_Ring_6:
    bdr_id: 17
    type: dirichlet
    value: -27.761194029850746
  BC_FieldCage_Ring_60:
    bdr_id: 71
    type: dirichlet
    value: -3.5820895522388057
  BC_FieldCage_Ring_61:
    bdr_id: 72
    type: dirichlet
    value: -3.134328358208954
  BC_FieldCage_Ring_62:
    bdr_id: 73
    type: dirichlet
    value: -2.6865671641791025
  BC_FieldCage_Ring_63:
    bdr_id: 74
    type: dirichlet
    value: -2.2388059701492544
  BC_FieldCage_Ring_64:
    bdr_id: 75
    type: dirichlet
    value: -1.7910447761194028
  BC_FieldCage_Ring_65:
    bdr_id: 76
    type: dirichlet
    value: -1.3432835820895512
  BC_FieldCage_Ring_66:
    bdr_id: 77
    type: dirichlet
    value: -0.8955223880596996
  BC_FieldCage_Ring_67:
    bdr_id: 78
    type: dirichlet
    value: -0.44776119402984804
  BC_FieldCage_Ring_68:
    bdr_id: 79
    type: dirichlet
    value: 0.0
  BC_FieldCage_Ring_69:
    bdr_id: 80
    type: dirichlet
    value: 0.4477611940298516
  BC_FieldCage_Ring_7:
    bdr_id: 18
    type: dirichlet
    value: -27.313432835820894
  BC_FieldCage_Ring_70:
    bdr_id: 81
    type: dirichlet
    value: 0.8955223880597032
  BC_FieldCage_Ring_71:
    bdr_id: 82
    type: dirichlet
    value: 1.3432835820895548
  BC_FieldCage_Ring_8:
    bdr_id: 19
    type: dirichlet
    value: -26.865671641791046
  BC_FieldCage_Ring_9:
    bdr_id: 20
    type: dirichlet
    value: -26.417910447761194
