schema_version: 1
geometry_id: SR3XENONnT

# Where the mesh is/should be produced
# FIXME Unused at the moment 
mesh:
  path: geometry.msh 


# Processing device TODO 
preset: none                       # serial | threads | mpi | gpu | mpi+gpu | mpi+threads

compute:
  mpi:
    enabled: false                    # true => use Par* classes, MPI_Init, etc.
    ranks: auto                       # integer or "auto"
    hostfile: null                    # optional path
    repartition_after_refine: true

  # All options here work and tested 
  threads:
    enabled: false                     # OpenMP 
    num: -1                           # number of threads (always applies to meshing)
    affinity: none                 # "compact" | "scatter" | "none"

  device: 
    type: none                        # "none" | "cuda" | "hip" | "occa" | "cpu"
    id: auto                          # int / auto 
    per_rank: 1                       # GPUs per MPI rank 

# End processing device
debug:
  debug: false
  quick_mesh: false

# solver configuration
solver:
  axisymmetric: true                  # Maybe this should be a string but 2D and 3D are done by default
  order: 3
  # TODO 
  assembly_mode: partial              # full | partial | matrix_free
  solver: pcg                         # pcg | gmres | fmgres | direct
  precond: boomerang                  # boomerang | jacobi | ilu | none | petsc_gamg
  # End TODO 
  atol: 1e-12
  rtol: 0.0
  maxiter: 100000
  printlevel: 1
  mesh_save_path: "simulation_mesh.msh"
  # TODO Change to only use naming convention not each explicitly 
  V_solution_path: "solution_V.gf"
  Emag_solution_path: "solution_Emag.gf"



materials:
  GXeRegion:
    attr_id: 1
    epsilon_r: 1.0
  PTFE_Group:
    attr_id: 2
    epsilon_r: 2.1
  LXeRegion:
    attr_id: 3
    epsilon_r: 1.95

boundaries:
  BC_Bell:
    bdr_id: 4
    type: dirichlet
    value: 10.0
  BC_Gate:
    bdr_id: 5
    type: dirichlet
    value: 5.0
  BC_Anode:
    bdr_id: 6
    type: dirichlet
    value: 0.0
  BC_Cathode:
    bdr_id: 7
    type: dirichlet
    value: -5.0
  BC_TopScreen:
    bdr_id: 8
    type: dirichlet
    value: 0.0
  BC_BottomScreen:
    bdr_id: 9
    type: dirichlet
    value: 0.0
  BC_CopperRing:
    bdr_id: 10
    type: dirichlet
    value: 0.0
  BC_PMTs:
    bdr_id: 11
    type: dirichlet
    value: 0.0
  BC_FieldCageGuard_Ring_1:
    bdr_id: 12
    type: dirichlet
    value: -30.0
  BC_FieldCageGuard_Ring_10:
    bdr_id: 21
    type: dirichlet
    value: -21.42857142857143
  BC_FieldCageGuard_Ring_11:
    bdr_id: 22
    type: dirichlet
    value: -20.476190476190474
  BC_FieldCageGuard_Ring_12:
    bdr_id: 23
    type: dirichlet
    value: -19.523809523809526
  BC_FieldCageGuard_Ring_13:
    bdr_id: 24
    type: dirichlet
    value: -18.571428571428573
  BC_FieldCageGuard_Ring_14:
    bdr_id: 25
    type: dirichlet
    value: -17.61904761904762
  BC_FieldCageGuard_Ring_15:
    bdr_id: 26
    type: dirichlet
    value: -16.666666666666668
  BC_FieldCageGuard_Ring_16:
    bdr_id: 27
    type: dirichlet
    value: -15.714285714285715
  BC_FieldCageGuard_Ring_17:
    bdr_id: 28
    type: dirichlet
    value: -14.761904761904763
  BC_FieldCageGuard_Ring_18:
    bdr_id: 29
    type: dirichlet
    value: -13.80952380952381
  BC_FieldCageGuard_Ring_19:
    bdr_id: 30
    type: dirichlet
    value: -12.857142857142858
  BC_FieldCageGuard_Ring_2:
    bdr_id: 13
    type: dirichlet
    value: -29.047619047619047
  BC_FieldCageGuard_Ring_20:
    bdr_id: 31
    type: dirichlet
    value: -11.904761904761905
  BC_FieldCageGuard_Ring_21:
    bdr_id: 32
    type: dirichlet
    value: -10.952380952380953
  BC_FieldCageGuard_Ring_22:
    bdr_id: 33
    type: dirichlet
    value: -10.0
  BC_FieldCageGuard_Ring_23:
    bdr_id: 34
    type: dirichlet
    value: -9.047619047619047
  BC_FieldCageGuard_Ring_24:
    bdr_id: 35
    type: dirichlet
    value: -8.095238095238095
  BC_FieldCageGuard_Ring_25:
    bdr_id: 36
    type: dirichlet
    value: -7.142857142857146
  BC_FieldCageGuard_Ring_26:
    bdr_id: 37
    type: dirichlet
    value: -6.190476190476193
  BC_FieldCageGuard_Ring_27:
    bdr_id: 38
    type: dirichlet
    value: -5.238095238095241
  BC_FieldCageGuard_Ring_28:
    bdr_id: 39
    type: dirichlet
    value: -4.285714285714288
  BC_FieldCageGuard_Ring_29:
    bdr_id: 40
    type: dirichlet
    value: -3.3333333333333357
  BC_FieldCageGuard_Ring_3:
    bdr_id: 14
    type: dirichlet
    value: -28.095238095238095
  BC_FieldCageGuard_Ring_30:
    bdr_id: 41
    type: dirichlet
    value: -2.380952380952383
  BC_FieldCageGuard_Ring_31:
    bdr_id: 42
    type: dirichlet
    value: -1.4285714285714306
  BC_FieldCageGuard_Ring_32:
    bdr_id: 43
    type: dirichlet
    value: -0.47619047619047805
  BC_FieldCageGuard_Ring_33:
    bdr_id: 44
    type: dirichlet
    value: 0.4761904761904745
  BC_FieldCageGuard_Ring_34:
    bdr_id: 45
    type: dirichlet
    value: 1.428571428571427
  BC_FieldCageGuard_Ring_35:
    bdr_id: 46
    type: dirichlet
    value: 2.3809523809523796
  BC_FieldCageGuard_Ring_36:
    bdr_id: 47
    type: dirichlet
    value: 3.3333333333333286
  BC_FieldCageGuard_Ring_37:
    bdr_id: 48
    type: dirichlet
    value: 4.285714285714285
  BC_FieldCageGuard_Ring_38:
    bdr_id: 49
    type: dirichlet
    value: 5.238095238095234
  BC_FieldCageGuard_Ring_39:
    bdr_id: 50
    type: dirichlet
    value: 6.19047619047619
  BC_FieldCageGuard_Ring_4:
    bdr_id: 15
    type: dirichlet
    value: -27.142857142857142
  BC_FieldCageGuard_Ring_40:
    bdr_id: 51
    type: dirichlet
    value: 7.142857142857139
  BC_FieldCageGuard_Ring_41:
    bdr_id: 52
    type: dirichlet
    value: 8.095238095238095
  BC_FieldCageGuard_Ring_42:
    bdr_id: 53
    type: dirichlet
    value: 9.047619047619044
  BC_FieldCageGuard_Ring_43:
    bdr_id: 54
    type: dirichlet
    value: 10.0
  BC_FieldCageGuard_Ring_44:
    bdr_id: 55
    type: dirichlet
    value: 10.952380952380949
  BC_FieldCageGuard_Ring_45:
    bdr_id: 56
    type: dirichlet
    value: 11.904761904761905
  BC_FieldCageGuard_Ring_46:
    bdr_id: 57
    type: dirichlet
    value: 12.857142857142854
  BC_FieldCageGuard_Ring_47:
    bdr_id: 58
    type: dirichlet
    value: 13.80952380952381
  BC_FieldCageGuard_Ring_48:
    bdr_id: 59
    type: dirichlet
    value: 14.76190476190476
  BC_FieldCageGuard_Ring_49:
    bdr_id: 60
    type: dirichlet
    value: 15.714285714285708
  BC_FieldCageGuard_Ring_5:
    bdr_id: 16
    type: dirichlet
    value: -26.19047619047619
  BC_FieldCageGuard_Ring_50:
    bdr_id: 61
    type: dirichlet
    value: 16.666666666666664
  BC_FieldCageGuard_Ring_51:
    bdr_id: 62
    type: dirichlet
    value: 17.619047619047613
  BC_FieldCageGuard_Ring_52:
    bdr_id: 63
    type: dirichlet
    value: 18.57142857142857
  BC_FieldCageGuard_Ring_53:
    bdr_id: 64
    type: dirichlet
    value: 19.52380952380952
  BC_FieldCageGuard_Ring_54:
    bdr_id: 65
    type: dirichlet
    value: 20.476190476190474
  BC_FieldCageGuard_Ring_55:
    bdr_id: 66
    type: dirichlet
    value: 21.428571428571423
  BC_FieldCageGuard_Ring_56:
    bdr_id: 67
    type: dirichlet
    value: 22.38095238095238
  BC_FieldCageGuard_Ring_57:
    bdr_id: 68
    type: dirichlet
    value: 23.33333333333333
  BC_FieldCageGuard_Ring_58:
    bdr_id: 69
    type: dirichlet
    value: 24.285714285714285
  BC_FieldCageGuard_Ring_59:
    bdr_id: 70
    type: dirichlet
    value: 25.238095238095234
  BC_FieldCageGuard_Ring_6:
    bdr_id: 17
    type: dirichlet
    value: -25.238095238095237
  BC_FieldCageGuard_Ring_60:
    bdr_id: 71
    type: dirichlet
    value: 26.19047619047619
  BC_FieldCageGuard_Ring_61:
    bdr_id: 72
    type: dirichlet
    value: 27.14285714285714
  BC_FieldCageGuard_Ring_62:
    bdr_id: 73
    type: dirichlet
    value: 28.095238095238095
  BC_FieldCageGuard_Ring_63:
    bdr_id: 74
    type: dirichlet
    value: 29.047619047619044
  BC_FieldCageGuard_Ring_64:
    bdr_id: 75
    type: dirichlet
    value: 30.0
  BC_FieldCageGuard_Ring_7:
    bdr_id: 18
    type: dirichlet
    value: -24.285714285714285
  BC_FieldCageGuard_Ring_8:
    bdr_id: 19
    type: dirichlet
    value: -23.333333333333336
  BC_FieldCageGuard_Ring_9:
    bdr_id: 20
    type: dirichlet
    value: -22.38095238095238
